body,
h1 {
    font-family: sans-serif;
    color: white;
}

body {
    background-image: url('https://raw.githubusercontent.com/ambarja/Geobackground/main/grass_elevation.png');
}

.subtitle {
    color: blue;
    font-weight: bold;
    text-align: center;
}